<!DOCTYPE html>
<html>

<head>
<meta charset="UTF-8">
<!--Title-->
<title>Stroy-Assistant</title>

<!-- CSS style file -->
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<link rel="stylesheet" href="{{url_for('static',filename='./css/main_page.css')}}">
<link rel="stylesheet" href="{{url_for('static',filename='./css/overlay.css')}}">
<link rel="stylesheet" href="{{url_for('static',filename='./css/overlay_no_alpha.css')}}">
<link rel="stylesheet" href="{{url_for('static',filename='./css/tag_list.css')}}">

<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">

<!-- Script files -->

<script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" type="text/javascript" charset="utf-8"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js" type="text/javascript" charset="utf-8"></script>

<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>

<script src="{{url_for('static',filename='third_party/jQuery-Paging-master/jquery.paging.min.js')}}"></script>

<script src="{{url_for('static',filename='third_party/jquery.caret.min.js')}}"></script>
<script src="{{url_for('static',filename='third_party/jquery.tag-editor.min.js')}}"></script>

<script src="{{url_for('static',filename='third_party/aehlke-tag-it/js/tag-it.js')}}"></script>


<!--vis link-->
<script src="{{url_for('static',filename='third_party/vis/dist/exampleUtil.js')}}"></script>
<script src="{{url_for('static',filename='third_party/vis/dist/vis.min.js')}}"></script>


<link href="{{url_for('static',filename='./third_party/vis/dist/vis.min.css')}}" rel="stylesheet" type="text/css"/>
<link href="{{url_for('static',filename='./third_party/vis/dist/vis-network.min.css')}}" rel="stylesheet" type="text/css"/>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<!--vis link-->


<!--cytoscape link-->
<script src="{{url_for('static',filename='third_party/cytoscape/dist/cytoscape.min.js')}}"></script>

<script src="//cdn.rawgit.com/cpettitt/dagre/v0.7.4/dist/dagre.min.js"></script>
<script src="//cdn.rawgit.com/cytoscape/cytoscape.js-dagre/1.5.0/cytoscape-dagre.js"></script>
<!--cytoscape link-->


<!-- English words -->
<script src="{{url_for('static',filename='third_party/afinn-master/afinn_en.js')}}"></script>

<!-- Danish words -->
<script src="{{url_for('static',filename='third_party/afinn-master/afinn_da.js')}}"></script>

<script>
	var afinn = afinn_en;
</script>
<!-- Algorithm -->
<script src="{{url_for('static',filename='third_party/afinn-master/sentiment.js')}}"></script>
<script src="{{url_for('static',filename='third_party/jquery-minimap.js')}}"></script>


<script src="{{url_for('static',filename='data_structures.js')}}"></script>
<script src="{{url_for('static',filename='variable_settings.js')}}"></script>
<script src="{{url_for('static',filename='methods/addElement.js')}}"></script>
<script src="{{url_for('static',filename='sentiment_analysis.js')}}"></script>
<script src="{{url_for('static',filename='location.js')}}"></script>

<script src="{{url_for('static',filename='index_ui.js')}}"></script>
<script src="{{url_for('static',filename='text.js')}}"></script>
<script src="{{url_for('static',filename='frequency.js')}}"></script>
<script src="{{url_for('static',filename='graph.js')}}"></script>
<script src="{{url_for('static',filename='story.js')}}"></script>
<script src="{{url_for('static',filename='showall.js')}}"></script>
<script src="//d3js.org/d3.v4.min.js"></script>


</head>


<body onload = "storyMainPageFunctions.setAll()">
<?
	php shell_exec('python ./test.py'); 
?>
<div id="mynetwork"></div>

	<!--Load stories from  -->
  <div class="minimap"></div>
	<div class="left_tag_list">
	
	<canvas id="back_to_dashboard" width="80%" height="20"></canvas>
    <canvas id="character_tag_label" width="80%" height="20"></canvas>
    <!--<ul id="characterTags"></ul>-->
	<div id = "character_tag_list" class = "tag_list"> </div>
	
	
    <canvas id="location_tag_label" width="80%" height="20" top = "5"></canvas>
    <!--<ul id="locationTags"></ul>-->
	<div id = "location_tag_list" class = "tag_list"> </div>
  
    <canvas id="get_tag_from_text" width="80%" height="20"></canvas>
    <canvas id="get_location_from_text" width="80%" height="20"></canvas>
    <canvas id="show_frequency" width="80%" height="20"></canvas>
    <canvas id="show_sentiment" width="80%" height="20"></canvas>
	<canvas id="show_graph" width="80%" height="20"></canvas>
	<canvas id="story_points" width="80%" height="20"></canvas>
	<canvas id="show_all" width="80%" height="20"></canvas>

	</div>
  <div>
  

  
  <div class="right_main">

  
   
    <div class="top_viewmode_bar">
      <canvas id="whole_book_view"></canvas>
      <canvas id="chapter_view"></canvas>
    </div>
    
    <div class="main_frame">

      <div id="tab_menu">
      <!--put tab button here -->
      </div>
      <div id="sentiment_body">

      </div>
        
      <div class="text_body" id="story_body">

      </div>
      <div id="inside_text">
      </div>
      <!--dynamicaly generate div here-->
      <div id="rightMap">
      </div>     
      <div id="rightLocation" >
      </div>     

    </div>

    <!-- The overlay -->
    <div id="over_frame" class="overlay">

      <!-- Button to close the overlay navigation -->
      <a href="javascript:void(0)" class="closebtn" onclick="storyMainPageFunctions.closeNav()">&times;</a>

      <!-- Overlay content -->
      <div class="overlay-content">
        <div id = "noun_top">
            <canvas id="character_category" ></canvas>
            <canvas id="location_category" ></canvas>

        </div>
        <div id = "noun_list_1" class = "noun_list">
       
        </div>

      </div>

    </div>
    
    <div id="over_location_frame" class="overlay">

      <!-- Button to close the overlay navigation -->
      <a href="javascript:void(0)" class="closebtn" onclick="closeLocationNav()">&times;</a>

      <!-- Overlay content -->
      <div class="overlay-location-content">
          <div id = "noun_list_location" class = "noun_list">
          </div>

      </div>

    </div>   
    <div id="over_frequency_frame" class="overlay">
		<div id = "location_graph"></div>

      <!-- Button to close the overlay navigation -->
      <a href="javascript:void(0)" class="closebtn" onclick="closeFrequencyNav()">&times;</a>

      <!-- Overlay content -->

    </div>
    <div id="over_sentiment_frame" class="overlay">
		<div id = "sentiment_graph"></div>

      <!-- Button to close the overlay navigation -->
      <a href="javascript:void(0)" class="closebtn" onclick="closeSentimentNav()">&times;</a>

      <!-- Overlay content -->

    </div>
    <div id="over_graph_frame" class="overlay">
		<div id = "graph_container"></div>

      <!-- Button to close the overlay navigation -->
      <a href="javascript:void(0)" class="closebtn" onclick="closeGraphNav()">&times;</a>

      <!-- Overlay content -->

    </div>	
    <div id="over_story_frame" class="overlay">

      <!-- Button to close the overlay navigation -->
      <a href="javascript:void(0)" class="closebtn" onclick="closeStoryNav()">&times;</a>

      <!-- Overlay content -->

    </div>
    <div id="show_all_frame" class="overlay_no_alpha">
<!--
		<div id = "vertical_top"></div>
-->
		<div id = "vertical_middle">


			<div id = "horizontal_left"></div>
			<div id = "horizontal_middle">
				<div id = "text_display"></div>
			
			</div>
			<div id = "horizontal_right">
				<div id = "sentiment_box_display"></div>			
			</div>

		</div>
<!--

		<div id = "vertical_down"></div>
-->
      <!-- Button to close the overlay navigation -->
      <a href="javascript:void(0)" class="closebtn" onclick="closeShowAllNav()">&times;</a>

      <!-- Overlay content -->
    </div>    
  </div>


</body>

</html>